.team-card {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding:10px;
    border-radius:8px;
}

.team-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius:8px;
    margin-right: 15px;
}